.panel {
  @apply grid overflow-hidden;

  grid-template-rows: [panel-header] auto [panel-content] 1fr [panel-footer] auto;

  .panel__header {
    @apply flex items-baseline justify-between;

    grid-row: panel-header;
  }

  .panel__content {
    @apply space-y-8 overflow-y-auto;

    scroll-behavior: smooth;
    scrollbar-width: thin;

    grid-row: panel-content;
  }

  .panel__footer {
    grid-row: panel-footer;
  }
}
