.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.short-enter-active,
.short-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to,
.short-enter-from,
.short-leave-to {
  opacity: 0;
}
