<header class="app-header isolate z-50 flex items-center gap-8 px-8 py-5">
  <!-- TODO: Does this need a click action? -->
  <img
    src="./resources/svg/fundermaps-mark-greyscale.svg"
    alt="Fudermaps logo mark"
    class="h-8 flex-shrink-0 flex-grow-0"
  />
  <div
    class="divider | w-[1px] flex-shrink-0 flex-grow-0 self-stretch bg-grey-400"
  ></div>
  <div class="flex w-full items-center justify-between gap-8">
    <include src="map-select.html"></include>

    <include src="searchbar.html"></include>

    <include src="user-menu.html"></include>
  </div>
</header>
