<div
  x-dialog
  x-model="settingsModalOpen"
  style="display: none"
  class="app-modal modal | z-20 grid place-items-center overflow-y-auto bg-blue-900/90 p-4"
  data-variant="full"
>
  <div
    class="panel pointer-events-auto"
    aria-role="dialog"
    aria-describedby="dialog-label"
    aria-modal="true"
    data-variant="narrow"
  >
    <header class="panel__header">
      <h4 id="dialog-label" class="heading-4">Profiel instellingen</h4>
      <button
        class="button button--link | group absolute right-8 top-3 text-blue-900 hover:text-red-500"
        x-on:click="setSettingsModal(false)"
      >
        <span>
          <div class="button__label">Sluit</div>
        </span>
        <icon
          src="close.svg"
          class="aspect-square h-3.5 text-red-500"
          aria-hidden="true"
        ></icon>
      </button>
    </header>
    <div class="panel__content content | -mx-6 space-y-4 px-6">
      <h6>Algemeen</h6>
      <form action="#" class="space-y-6">
        <div class="input--text">
          <label for="input-default" class="input__label"> Voornaam</label>
          <div class="input-field">
            <input
              type="text"
              id="input-default"
              name="input-default"
              placeholder="Voer je gebruikersnaam in"
            />
          </div>
        </div>
        <div class="input--text">
          <label for="input-default" class="input__label"> Achternaam</label>
          <div class="input-field">
            <input
              type="text"
              id="input-default"
              name="input-default"
              placeholder="Voer je gebruikersnaam in"
            />
          </div>
        </div>
        <div class="input--text">
          <label for="input-default" class="input__label">
            E-mail (gebruikersnaam)</label
          >
          <div class="input-field">
            <input
              type="email"
              id="input-default"
              name="input-default"
              placeholder="Voer je gebruikersnaam in"
            />
          </div>
        </div>
        <div class="input--text">
          <label for="input-default" class="input__label"> Functie</label>
          <div class="input-field">
            <input
              type="text"
              id="input-default"
              name="input-default"
              placeholder="Voer je gebruikersnaam in"
            />
          </div>
        </div>
        <div class="input--text">
          <label for="input-default" class="input__label"> Telefoon</label>
          <div class="input-field">
            <input
              type="tel"
              id="input-default"
              name="input-default"
              placeholder="Voer je gebruikersnaam in"
            />
          </div>
        </div>
        <button
          class="button button--solid"
          type="submit"
          class="button button--solid | group"
          x-on:click.prevent="setSettingsModal(false)"
        >
          <span class="button__label">Bewaar instellingen </span>
          <icon
            src="arrow-right.svg"
            class="aspect-square h-3.5 -rotate-45 transition-transform group-hover:rotate-0"
            aria-hidden="true"
          ></icon>
        </button>
      </form>
    </div>
  </div>
</div>
