<div
  x-dialog
  x-model="statisticsModalOpen"
  style="display: none"
  class="app-modal modal | z-20 grid place-items-center overflow-y-auto bg-blue-900/90 p-4 xl:pointer-events-none xl:bg-transparent"
>
  <div
    class="panel pointer-events-auto"
    aria-role="dialog"
    aria-describedby="dialog-label"
    aria-modal="true"
  >
    <header class="panel__header">
      <h4 id="dialog-label" class="heading-4">
        Verhouding aantal fundering in de buurt
      </h4>
      <button
        class="button button--link | group absolute right-8 top-3 text-blue-900 hover:text-red-500"
        x-on:click="setStatisticsModal(false)"
      >
        <span>
          <div class="button__label">Sluit</div>
        </span>
        <icon
          src="close.svg"
          class="aspect-square h-3.5 text-red-500"
          aria-hidden="true"
        ></icon>
      </button>
    </header>
    <div class="panel__content content | -mx-6 space-y-4 px-6">
      <div x-data="chartLine" class="w-full">
        <canvas x-ref="canvas" class="chart"></canvas>
      </div>
    </div>
  </div>
</div>
