<div x-data x-menu class="relative">
  <button x-menu:button class="button group flex p-0">
    <img
      class="aspect-square w-10 rounded-full"
      src="https://i.lemone.space/image/pizza"
    />

    <div class="flex flex-col items-start">
      <h2 class="heading-5">Gemeente Schiedam</h2>
      <div
        class="flex gap-2 text-sm font-bold text-green-500 group-hover:text-blue-500"
      >
        <icon
          src="switch.svg"
          class="aspect-square w-4"
          aria-hidden="true"
        ></icon>
        Naar kaartgroep
      </div>
    </div>
  </button>

  <div
    x-menu:items
    x-transition.origin.top.left
    class="dropdown arrow arrow--top-left | absolute -left-7 top-full origin-top-left outline-none"
    x-cloak
  >
    <div
      class="dropdown__main | relative grid rounded-lg bg-white py-4 shadow-float"
    >
      <div
        class="dropdown__header | flex items-baseline justify-between gap-6 px-8 pb-2 pt-3"
      >
        <h3 class="heading-5 whitespace-nowrap">Mijn kaartengroepen</h3>
        <button
          class="button button--link | group ml-auto -translate-y-3 translate-x-3 p-0 text-blue-900 hover:text-red-500"
          @click="$data.__close()"
        >
          <div class="button__label text-sm">Sluit</div>
          <icon
            src="close.svg"
            class="aspect-square h-3 text-red-500"
            aria-hidden="true"
          ></icon>
        </button>
      </div>
      <div class="dropdown__content">
        <ol>
          <li>
            <a
              x-menu:item
              href=""
              class="flex gap-3 px-8 py-2 hover:bg-grey-100"
              :class="{'bg-grey-100': $menuItem.isActive}"
            >
              <figure>
                <img
                  src="https://i.lemone.space/image/pizza"
                  alt=""
                  class="avatar | aspect-square w-8 rounded-full"
                />
              </figure>
              <div>
                <h6 class="heading-6 leading-none">Gemeente Den Haag</h6>
                <div class="flex gap-2 text-sm text-green-500">
                  <icon
                    src="switch.svg"
                    class="aspect-square w-4"
                    aria-hidden="true"
                  ></icon>
                  Naar deze Kaartgoep
                </div>
              </div>
            </a>
          </li>
          <li>
            <a
              x-menu:item
              href=""
              class="flex gap-3 px-8 py-2 hover:bg-grey-100"
              :class="{'bg-grey-100': $menuItem.isActive}"
            >
              <figure>
                <img
                  src="https://i.lemone.space/image/pizza?3"
                  alt=""
                  class="avatar | aspect-square w-8 rounded-full"
                />
              </figure>
              <div>
                <h6 class="heading-6 leading-none">Gemeente Rotterdam</h6>
                <div class="flex gap-2 text-sm text-green-500">
                  <icon
                    src="switch.svg"
                    class="aspect-square w-4"
                    aria-hidden="true"
                  ></icon>
                  Naar deze Kaartgoep
                </div>
              </div>
            </a>
          </li>
          <li>
            <a
              x-menu:item
              href=""
              class="flex items-start gap-3 px-8 py-2 hover:bg-grey-100"
              :class="{'bg-grey-100': $menuItem.isActive}"
            >
              <figure class="relative">
                <img
                  src="https://i.lemone.space/image/pizza?2"
                  alt=""
                  class="avatar | aspect-square w-8 rounded-full"
                />
                <div
                  class="absolute bottom-0 right-0 translate-x-1 translate-y-2 rounded-full border border-white bg-blue-500 p-1 text-white"
                >
                  <icon
                    src="check.svg"
                    class="aspect-square w-2"
                    aria-hidden="true"
                  ></icon>
                </div>
              </figure>
              <div>
                <h6 class="heading-6 leading-none">Gemeente Schiedam</h6>
                <div class="flex gap-2 text-sm text-blue-500">Geselecteerd</div>
              </div>
            </a>
          </li>
          <li>
            <a
              x-menu:item
              href=""
              class="flex gap-3 px-8 py-2 hover:bg-grey-100"
              :class="{'bg-grey-100': $menuItem.isActive}"
            >
              <figure>
                <img
                  src="https://i.lemone.space/image/pizza?1"
                  alt=""
                  class="avatar | aspect-square w-8 rounded-full"
                />
              </figure>
              <div>
                <h6 class="heading-6 leading-none">Gemeente Utrecht</h6>
                <div class="flex gap-2 text-sm text-green-500">
                  <icon
                    src="switch.svg"
                    class="aspect-square w-4"
                    aria-hidden="true"
                  ></icon>
                  Naar deze Kaartgoep
                </div>
              </div>
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
