<div class="search-bar | flex gap-2">
  <div class="input--text">
    <div class="input-field">
      <input
        type="text"
        id="input-default"
        name="input-default"
        placeholder="Type something"
      />
      <button class="input-field__after | text-blue-900 hover:text-green-700">
        <icon
          src="search.svg"
          class="aspect-square w-4"
          aria-hidden="true"
        ></icon>
        <span class="sr-only">Zoeken</span>
      </button>
    </div>
  </div>
  <button class="button button--square p-3">
    <icon src="target.svg" class="h-4 w-4" aria-hidden="true"></icon>
    <span class="sr-only">Reset to my location</span>
  </button>
</div>
