<div x-data x-menu class="relative">
  <button x-menu:button class="button group p-0 pr-2.5">
    <div class="avatar | bg-blue-900 text-white group-hover:bg-blue-500">
      <strong aria-hidden="true">K</strong>
      <span class="sr-only">Kris van der Ven</span>
    </div>
    <icon
      src="chevron-down.svg"
      class="h-2.5 w-2.5 transition-transform"
      :class="{'rotate-180': $data.__isOpen}"
      aria-hidden="true"
    ></icon>
  </button>

  <div
    x-menu:items
    x-transition.origin.top.right
    class="dropdown arrow arrow--top-right | absolute right-0 top-full z-20 min-w-48 origin-top-right outline-none"
    x-cloak
  >
    <div
      class="dropdown__main | divide-y divide-grey-200 rounded-lg bg-white py-1 shadow-float"
    >
      <a
        x-menu:item
        class="group flex w-full cursor-pointer items-center justify-between gap-2 px-8 py-4 transition-colors hover:text-green-500"
        :class="{'text-green-500': $menuItem.isActive}"
        x-on:click="setSettingsModal()"
      >
        <span class="whitespace-nowrap">Ga naar profiel</span>
        <icon
          src="arrow-right.svg"
          class="aspect-square h-3.5 -rotate-45 transition-transform group-hover:rotate-0"
          :class="{'rotate-0': $menuItem.isActive}"
          aria-hidden="true"
        ></icon>
      </a>
      <a
        x-menu:item
        class="group flex w-full cursor-pointer items-center justify-between gap-2 px-8 py-4 transition-colors hover:text-green-500"
        :class="{'text-green-500': $menuItem.isActive}"
        href="dashboard.html"
      >
        <span class="whitespace-nowrap">Dashboard</span>
        <icon
          src="arrow-right.svg"
          class="aspect-square h-3.5 -rotate-45 transition-transform group-hover:rotate-0"
          :class="{'rotate-0': $menuItem.isActive}"
          aria-hidden="true"
        ></icon>
      </a>
      <a
        x-menu:item
        class="group flex w-full cursor-pointer items-center justify-between gap-2 px-8 py-4 transition-colors hover:text-green-500"
        :class="{'text-green-500': $menuItem.isActive}"
        href="panels.html"
      >
        <span class="whitespace-nowrap">Panel examples</span>
        <icon
          src="arrow-right.svg"
          class="aspect-square h-3.5 -rotate-45 transition-transform group-hover:rotate-0"
          :class="{'rotate-0': $menuItem.isActive}"
          aria-hidden="true"
        ></icon>
      </a>
      <a
        x-menu:item
        class="group flex w-full cursor-pointer items-center justify-between gap-2 px-8 py-4 transition-colors hover:text-green-500"
        :class="{'text-green-500': $menuItem.isActive}"
        href="dashboard-loading.html"
      >
        <span class="whitespace-nowrap">Loading example</span>
        <icon
          src="arrow-right.svg"
          class="aspect-square h-3.5 -rotate-45 transition-transform group-hover:rotate-0"
          :class="{'rotate-0': $menuItem.isActive}"
          aria-hidden="true"
        ></icon>
      </a>
      <a
        x-menu:item
        href="index.html"
        class="flex w-full items-center gap-2 px-8 py-4 transition-colors hover:text-red-500"
        :class="{'text-red-500': $menuItem.isActive}"
      >
        <icon
          src="exit.svg"
          class="aspect-square h-3.5"
          aria-hidden="true"
        ></icon>
        <span>Uitloggen</span>
      </a>
    </div>
  </div>
</div>
